@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
}

body {
    color:  rgb(245, 245, 245);
    background-color: rgb(25, 38, 97);
    font-family: 'Playfair Display', serif;
}